body {
    background-color: black;
    background-image: url('https://winnie2802.github.io/Website-Visualization/images/backgroundImage.jpg');
    background-size: cover;
    background-attachment: fixed;
    
    font-family: Arial;
    
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}
    .brand {
        background-color: white;
        
        width: max-content;
        height: max-content;
        
        border-radius: 10px;
        
        display: flex;
        align-items: center;
        
        padding: 10px;
        
        cursor: pointer;
    }
    
    .header img {
        border-radius: 40px;
        
        margin-right: 10px;
    }

    .logoLabel {
        font-size: 30px;
        font-weight: 900;

        cursor: pointer;
    }

.updateGroupForm {
    background-color: white;

    width: max-content;
    height: max-content;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    margin: auto;

    padding: 30px;
}
    .updateGroupLabel {
        font-size: 20px;
        font-weight: bold;
        
        text-align: center;
    }

    .groupIdLabel {
        font-size: 18px;
        font-weight: bold;

        margin-top: 20px;
    }
        .groupIdInput {
            font-size: 16px;

            width: 600px;
            height: 30px;

            margin-top: 10px;

            padding-left: 10px;
            
            background-color: #f0f0f0;
            color: #666;
        }
    
    .groupNameLabel {
        font-size: 18px;
        font-weight: bold;

        margin-top: 20px;
    }
        .groupNameInput {
            font-size: 16px;

            width: 600px;
            height: 30px;

            margin-top: 10px;

            padding-left: 10px;
        }

    .groupDescriptionLabel {
        font-size: 18px;
        font-weight: bold;

        margin-top: 20px;
    }
        .groupDescriptionInput {
            font-family: Arial;
            font-size: 16px;

            text-align: justify;

            padding: 10px;

            margin-top: 10px;
        }

    .groupType {
        display: flex;
        justify-content: space-between;
        
        margin-top: 20px;
    }
        .groupType label {
            font-size: 18px;
            font-weight: bold;
        }
        .groupType .options {
            display: flex;

            gap: 60px;
        }

    .updateGroupButton {
        background-color: #5865F2;
        color: white;
        
        font-size: 16px;
        font-weight: bold;                

        width: 100%;

        border: none;
        border-radius: 10px;

        margin: auto;
        margin-top: 20px;
        
        padding-top: 10px;
        padding-bottom: 10px;

        cursor: pointer;
        transition: 0.3s;
    }
        .updateGroupButton:hover {
            opacity: 70%;
        }
        
        .updateGroupButton:disabled {
            opacity: 50%;
            cursor: not-allowed;
        }
        
    .loadingMessage {
        text-align: center;
        color: #5865F2;
        font-size: 16px;
        margin-top: 10px;
    }