body {
    font-family: Arial;
    margin: 0px;
}

.stickyTopNavigationBar {
    background-color: black;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

.buttonsLeftGroup {
    display: flex;
    flex-direction: row;
}

.buttonsLeftGroup .button {
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: 300ms;
}

.buttonsLeftGroup .button:hover {
    color: black;
    background-color: white;
}

.buttonsLeftGroup .button.currentPage {
    color: black;
    background-color: white;
    cursor: default;
}

.buttonsLeftGroup img {
    border-radius: 20px;
    margin-right: 10px;
}

.buttonsRightGroup {
    display: flex;
    flex-direction: row-reverse;
}

.buttonsRightGroup .button {
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: 300ms;
}

.buttonsRightGroup .button:hover {
    background-color: red;
}

.buttonsRightGroup i {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header {
    font-size: 30px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}

.header img {
    border-radius: 40px;
    margin-right: 10px;
}

.contentArea {
    display: flex;
    flex-direction: row;
}

.sideBar {
    background-color: black;
    width: max-content;
    height: calc(100vh - 153px);
    border-radius: 0px 30px 0px 0px;
    display: flex;
    flex-direction: column;
}

.mainButtons {
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.mainButtons .button {
    color: white;
    background-color: #38B6FF;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    border: 1px solid #38B6FF;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mainButtons .button:hover {
    color: #38B6FF;
    background-color: white;

    border: 1px solid #38B6FF;
}

.mainButtons i {
    margin-right: 10px;
}

.mainButtons label {
    cursor: pointer;
}

.subButtons {
    height: calc(100vh - 361px);
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow-y: auto;
}

.subButtons .button {
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
}

.subButtons .button:hover {
    color: black;
    background-color: white;
}

.subButtons .button.active {
    color: black;
    background-color: white;
}

.subButtons i {
    margin-right: 10px;
}

.subButtons .loading {
    color: white;
    text-align: center;
    padding: 20px;
}

.mainContent {
    flex: 1;
    background-color: black;
    border-radius: 30px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
    padding: 20px;
}

.hello {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    width: max-content;
    height: max-content;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

.content {
    flex: 1;
    background-color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.path {
    color: white;
    background-color: #38B6FF;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.pathSelect {
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 300ms;
}

.pathSelect:hover {
    text-decoration: underline;
}

.projects {
    background-color: black;
    height: calc(100vh - 357px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto;
}

.project {
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
}

.project:hover {
    color: black;
    background-color: white;
}

.project.active {
    color: black;
    background-color: white;
}

.projectLabel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectIdLabel {
    transition: 300ms;
}

.project:hover .projectIdLabel {
    color: #FF751F;
}

.project.active .projectIdLabel {
    color: #38B6FF;
}

.filesAndFolders {
    background-color: black;
    height: calc(100vh - 357px);
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    overflow-y: auto;
}

.item {
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: 300ms;
}

.item:hover {
    color: black;
    background-color: white;
}

.item.selected {
    color: black;
    background-color: white;
}

.itemLabel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.itemType {
    color: black;
    background-color: white;
    border-radius: 40px;
    padding: 10px 20px;
    transition: 300ms;
}

.item:hover .itemType {
    color: white;
    background-color: #38B6FF;
}

.item.selected .itemType {
    color: white;
    background-color: #38B6FF;
}

.itemIdLabel {
    transition: 300ms;
}

.item:hover .itemIdLabel {
    color: #38B6FF;
}

.item.selected .itemIdLabel {
    color: #38B6FF;
}

.itemDetails {
    background-color: white;
    height: calc(100vh - 320px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}

.noItemSelected {
    font-size: 20px;
    font-weight: bold;
    width: calc(100% - 20px);
    display: flex;
    margin: 10px;
}

.itemDetails .details {
    color: white;
    background-color: #38B6FF;
    font-size: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 20px;
    overflow-y: auto;
}

.itemDetails label {
    font-weight: bold;
    text-align: justify;
}

.itemDetails .value {
    font-weight: normal;
}

.itemActions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.updateItem {
    color: #38B6FF;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    width: max-content;
    border: 2px solid #38B6FF;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 300ms;
}

.updateItem:hover {
    color: white;
    background-color: #38B6FF;
}

.deleteItem {
    color: white;
    background-color: red;
    font-size: 20px;
    font-weight: bold;
    width: max-content;
    border: 2px solid red;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 300ms;
}

.deleteItem:hover {
    opacity: 70%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}